@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto:wght@500&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;


}

.container {

    /* flex-direction: row; */

    width: 1280px;
    /* flex-direction: column; */

    margin: 0 auto;
}

.banner-area {
    background-color: #161616;
    background-repeat: no-repeat;
    display: flex;
    margin: 50px auto;
    border-radius: 10px;
    align-items: center;
}

.banner-text {
    color: white;
    width: 50%;
    /* height: 30px; */
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.banner-text h1 {
    font-size: 70px;
    margin: 0;
}

.banner-text p {

    margin: 30px 0;
}

.banner-text a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    background-color: #d13a2f;
    padding: 13px 29px;
    border-radius: 5px;
}

.fa-light {
    padding-left: 5px;
}


.banner-image {
    width: 50%;
    padding-top: 30px;
    display: flex;
    align-items: flex-end;

}

.banner-image img {
    width: 100%;
}


main {
    margin-top: 50px;
    display: flex;
    margin-right: 25px;
    margin-left: 30px;
    padding-bottom: 100px;

}


.button-area {
    width: 350px;
    height: 250px;
    background-color: black;
    margin-right: 40px;
    border-radius: 5px;

}

.button-group {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;


}

.button-group a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* .match-details {} */

.link-button {
    padding: 10px;
    border-radius: 5px;

}

.active,
.active a {
    background-color: #d13a2f;
    color: #fff;
}


/* section area */
section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.blog-area {
    /* width: 300px; */
    border: 1px solid #ddd;
    border-radius: 10px;
}



.blog-area img {
    width: 100%;
}


.blog-area button {
    margin-left: 25px;
    margin-top: 10px;
}

.blog-area h4 {
    padding-left: 25px;
}

.font-icon {
    padding-left: 25px;
    padding-bottom: 10px;
}

.font-icon .fa-solid {
    font-size: 13px;
}

.font-icon .fa-message {
    font-size: 13px;
}

.font-icon span {
    font-size: 13px;
    margin-right: 20px;
}

footer {
    width: 100%;
    background-color: #161616;
}

footer .goal {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

    /* flex-direction: column; */

}

footer hr {
    margin-left: 80px;
    margin-right: 80px;
}

.footer-link {
    text-align: center;
    padding: 30px 0 30px 0;
}

.footer-link a {
    font-size: 18px;
    text-decoration: none;
    color: #eeeeee;
    margin: 0 20px;
    transition: all .5s;
}

.footer-link a:hover {
    font-size: 24px;
    color: rgb(0, 140, 255);
}

/*--mobile devices --*/
@media only screen and (max-width:1312px) {
    .container {
        width: 95%;
    }

    #blog-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width:992px) {
    .banner-text {
        color: white;
        width: 50%;
        /* height: 30px; */
        padding-left: 5%;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .banner-text h1 {
        font-size: 48px;
    }

    .banner-area {
        background-color: #161616;
        background-repeat: no-repeat;
        display: flex;
        margin: 50px auto;
        border-radius: 10px;
        align-items: end;
    }

    main {
        flex-direction: column;
        justify-content: center;
    }

    .button-area {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        padding: 50px;

    }

    .button-group {

        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (max-width:668px) {

    .banner-area {
        flex-direction: column;
        justify-content: flex-start;
        ALIGN-ITEMS: center;
    }

    .banner-area h1 {
        text-align: center;
        font-size: 30px;
    }

    .banner-area p {
        text-align: CENTER;
    }

    .banner-text a {
        font-size: 16px;
        padding: 5% 10%;
    }

    #blog-wrap {
        width: 95%;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .button-group {

        flex-direction: column;

    }

    .button-group a {
        font-size: 16px;
        padding: 3px;

    }

    .button-area {
        width: 50%;
        height: auto;
        margin: 0 auto;
        background: #fff;

    }

    .footer-link a {
        display: block;
        margin: 20px 0;
    }

    .social a {
        display: inline;
    }
}